Repository hyunsooda/klaytn, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aidan-kwon, @blukat29, @kjeom, @nohkwak, @toniya-klaytn, @ian0371, @hyunsooda, @2dvorak, @jiseongnoh, @yoomee1313, @JayChoi1736, @ethan-kr, @jeongkyun-oh

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
*       @aidan-kwon @blukat29 @kjeom

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/      @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat
/api/           @kjeom @nohkwak @toniya-klaytn
/blockchain/    @blukat29 @kjeom @ian0371
/build/	        @blukat29 @hyunsooda @2dvorak
/client/        @hyunsooda @kjeom @nohkwak
/cmd/           @kjeom @ian0371
/consensus/     @aidan-kwon @jiseongnoh @yoomee1313
/console/       @kjeom @nohkwak @JayChoi1736
/contracts/     @ian0371 @hyunsooda @2dvorak
/crypto/        @blukat29 @aidan-kwon @jiseongnoh
/datasync/      @aidan-kwon @ethan-kr @jeongkyun-oh
/db_migration/  @ethan-kr @jeongkyun-oh @yoomee1313
/event/	        @kjeom @JayChoi1736 @nohkwak
/governance/    @blukat29 @ian0371 @yoomee1313
/networks/      @kjeom @JayChoi1736 @yoomee1313
/node/	        @blukat29 @hyunsooda @2dvorak
/reward/        @blukat29 @ian0371
/rlp/	        @kjeom @JayChoi1736 @nohkwak
/snapshot/      @ethan-kr @jeongkyun-oh @yoomee1313
/storage/       @aidan-kwon @ethan-kr @jeongkyun-oh
/work/	        @blukat29 @yoomee1313

[Test] use 20% cache
  storage/statedb/database.go
Owners: @aidan-kwon, @ethan-kr, @jeongkyun-oh

[Test] use 10% of cache
  storage/statedb/database.go
Owners: @aidan-kwon, @ethan-kr, @jeongkyun-oh

[Test] use 15% of cache
  storage/statedb/database.go
Owners: @aidan-kwon, @ethan-kr, @jeongkyun-oh

[Test] use 35% of cache (default)
  storage/statedb/database.go
Owners: @aidan-kwon, @ethan-kr, @jeongkyun-oh

[] 35%
  storage/statedb/database.go
Owners: @aidan-kwon, @ethan-kr, @jeongkyun-oh

[] 20%
  storage/statedb/database.go
Owners: @aidan-kwon, @ethan-kr, @jeongkyun-oh

[] 15%
  storage/statedb/database.go
Owners: @aidan-kwon, @ethan-kr, @jeongkyun-oh

[] 10%
  storage/statedb/database.go
Owners: @aidan-kwon, @ethan-kr, @jeongkyun-oh

[] use 50%
  storage/statedb/database.go
Owners: @aidan-kwon, @ethan-kr, @jeongkyun-oh

[] use 5% cache
  storage/statedb/database.go
Owners: @aidan-kwon, @ethan-kr, @jeongkyun-oh

[Test] cache0
  storage/statedb/database.go
Owners: @aidan-kwon, @ethan-kr, @jeongkyun-oh

[] fix
  storage/statedb/database.go
Owners: @aidan-kwon, @ethan-kr, @jeongkyun-oh

[] fix1
  storage/statedb/trie.go
Owners: @aidan-kwon, @ethan-kr, @jeongkyun-oh

[] test123
  console/web3ext/web3ext.go
  node/cn/api.go
  storage/database/db_manager.go
  storage/statedb/database.go
Owners: @kjeom, @nohkwak, @JayChoi1736, @blukat29, @hyunsooda, @2dvorak, @aidan-kwon, @ethan-kr, @jeongkyun-oh

Update contracts/contracts/system_contracts/kaiabridge/IBridge.sol
  contracts/contracts/system_contracts/kaiabridge/IBridge.sol
Owners: @ian0371, @hyunsooda, @2dvorak

[Mock] Added mock contracts
  contracts/contracts/system_contracts/kaiabridge/EnumerableSetUint64.sol
  contracts/contracts/testing/kaiabridge/Guardian.sol
  contracts/contracts/testing/kaiabridge/Judge.sol
  contracts/contracts/testing/kaiabridge/Operator.sol
Owners: @ian0371, @hyunsooda, @2dvorak

[KAIAbridge] KAIABridge contract added
  contracts/contracts/system_contracts/kaiabridge/Bech32.sol
  contracts/contracts/system_contracts/kaiabridge/Bridge.sol
  contracts/contracts/system_contracts/kaiabridge/EnumerableSetUpgradable.sol
  contracts/contracts/system_contracts/kaiabridge/Guardian.sol
  contracts/contracts/system_contracts/kaiabridge/IBridge.sol
  contracts/contracts/system_contracts/kaiabridge/IGuardian.sol
  contracts/contracts/system_contracts/kaiabridge/IJudge.sol
  contracts/contracts/system_contracts/kaiabridge/IOperator.sol
  contracts/contracts/system_contracts/kaiabridge/Judge.sol
  contracts/contracts/system_contracts/kaiabridge/Operator.sol
  contracts/contracts/system_contracts/kaiabridge/ReentrancyGuardUpgradeable.sol
  contracts/contracts/testing/kaiabridge/Bridge.sol
  contracts/contracts/testing/kaiabridge/C.sol
  contracts/contracts/testing/kaiabridge/EnumSet.sol
  contracts/contracts/testing/kaiabridge/NewEnumSet.sol
  contracts/test/KAIABridge/addr.ts
  contracts/test/KAIABridge/bridge.ts
  contracts/test/KAIABridge/multisig.ts
  contracts/test/KAIABridge/upgradable.ts
  contracts/test/KAIABridge/util.ts
Owners: @ian0371, @hyunsooda, @2dvorak

[Contract] 1. Grant upgrade auth to guardian. 2. Removed upgradable set contract. 3. Disable the `transfer` function by default
  contracts/contracts/system_contracts/kaiabridge/Bridge.sol
  contracts/contracts/system_contracts/kaiabridge/EnumerableSetUpgradable.sol
  contracts/contracts/system_contracts/kaiabridge/Guardian.sol
  contracts/contracts/system_contracts/kaiabridge/IBridge.sol
  contracts/contracts/system_contracts/kaiabridge/IJudge.sol
  contracts/contracts/system_contracts/kaiabridge/IOperator.sol
  contracts/contracts/system_contracts/kaiabridge/Judge.sol
  contracts/contracts/system_contracts/kaiabridge/Operator.sol
  contracts/contracts/testing/kaiabridge/Bridge.sol
  contracts/contracts/testing/kaiabridge/EnumSet.sol
  contracts/contracts/testing/kaiabridge/NewEnumSet.sol
  contracts/test/KAIABridge/bridge.ts
  contracts/test/KAIABridge/upgradable.ts
Owners: @ian0371, @hyunsooda, @2dvorak

[Hardhat] Added solidity `v0.8.24`
  contracts/hardhat.config.ts
Owners: @ian0371, @hyunsooda, @2dvorak

[Test] Removed `util.ts`
  contracts/test/KAIABridge/bridge.ts
  contracts/test/KAIABridge/util.ts
Owners: @ian0371, @hyunsooda, @2dvorak
